.quick-order
	form.quick-order__form
		+input({
			classes:"quick-order__input",
			type:""
		})
		+button({
			tag: "",
			type: "submit",
			buttonClass: "quick-order__button",
			href: "",
			text: "Заказать звонок",
			title: "Заказать звонок",
			iconClass: "",
			iconPosition: ""
		})