.product-params
	.grid-x
		.cell.shrink Год
		+button({
			tag: "",
			type: "",
			buttonClass: "",
			href: "",
			text: "2017",
			title: "Велосипед 2017 года",
			iconClass: "",
			iconPosition: ""
		})
		+button({
			tag: "",
			type: "",
			buttonClass: "",
			href: "",
			text: "2018",
			title: "Велосипед 2018 года",
			iconClass: "",
			iconPosition: ""
		})
		.cell.shrink Цвет
			+select({
				classes:""
			},
			{option1:"Желтый", option2:"Синий", option3:"Зеленій"}
			)
		.cell.shrink Размер
			+select({
				classes: ""
			},
			{option1: "Желтый", option2: "Синий", option3: "Зеленій"}
			)