/**
* Button global styles
*/

.button {
  color: $color-white;
  background-color: $color-blue-400;
  /**
  * Button states
  */
  &:hover {
    color: $color-white;
    background-color: $color-4;
  }
  &:focus {
    color: $color-white;
    background-color: $color-4;
  }
  &:active {

  }
  /**
  * Button icon
  */
  &__icon {

  }
  &--footer {
    background-color: $color-red-400;
    width: 100%;
    max-width: 250px;
  }
  /**
  * Button modifications
  */
  &--icon-top {

    .button__icon {

    }
  }
  &--icon-right {

    .button__icon {

    }
  }
  &--icon-bottom {

    .button__icon {

    }
  }
  &--icon-left {

    .button__icon {

    }
  }
  // Button mods
  &--top-line-favorite {
    background-color: transparent;
    width: 32px;
    height: 32px;
    &:hover {
      background-color: transparent;
      color: $color-red-400;
      box-shadow: 0 0 0 33px #f5f5f5 inset;
      border-radius: 62px;
    }
  }
  &--top-line-compare {
    background-color: transparent;
    width: 32px;
    height: 32px;
    &:hover {
      background-color: transparent;
      color: $color-red-400;
      box-shadow: 0 0 0 33px #f5f5f5 inset;
      border-radius: 62px;
    }
  }
  &--top-line-cart {
    background-color: transparent;
    width: 32px;
    height: 32px;
    &:hover {
      background-color: transparent;
      color: $color-red-400;
      box-shadow: 0 0 0 33px #f5f5f5 inset;
      border-radius: 62px;
    }
  }
  &--product-card-favorite {
    position: absolute;
    top: 0;
    right: 30px;
    color: #f27573;
    width: 32px;
    height: 32px;
    background-color: transparent;
    &:hover {
      color: $color-white;
      box-shadow: 0 0 0 33px #ef5350 inset, 0 0 0 0px #ef5350;
      border-radius: 62px;
    }
  }
  &--product-card-compare {
    position: absolute;
    top: 0;
    right: 0px;
    color: #f27573;
    width: 32px;
    height: 32px;
    background-color: transparent;
    &:hover {
      background-color: transparent;
      color: $color-white;
      box-shadow: 0 0 0 33px #ef5350 inset, 0 0 0 0px #ef5350;
      border-radius: 62px;
    }
  }
  &--footer-social{
    background-color: transparent;
    width: 40px;
    height: 40px;
  }
}

