.menu {
  &__nav {

  }
  &__ul {

  }
  &__li {

    &:not(:last-child) {

    }
  }
  &__a {
    padding: 6px 10px;

    color: $color-white;
    &:hover, &:focus {
      background-color: $color-grey-100;
      color: $color-green-400;
    }

  }
  &__child-ul {

  }
  &__child-li {

  }
  &__child-a {
  }
  // menu mods
  &--main {

  }
}