/*!*** BEGIN Label styles ***/
.label{
  background-color: $color-1;
  color: $color-white;
}
// label mods
.label{
  &--product-card{
    position: absolute;
    left: 0;
    top: 40px;
    background-color: $color-red-400;
    opacity: 0.8;
    transition: 0.3s;
    &:hover, &:focus{
      opacity: 1;
      color: $color-white;
    }
  }
}
/*!*** END Label styles ***/