div(class="contacts cell grid-x grid-margin-x margin-vertical-2")
    div(class="cell auto")
        i(class="fa fa-mobile" aria-hidden="true")
        a(href="tel:099 999-99-99" class="contacts__tel") 099 999-99-99
    div(class="cell auto")
        i(class="fa fa-mobile" aria-hidden="true")
        a(href="tel:099 999-99-99" class="contacts__tel") 099 999-99-99
    div(class="cell auto")
        i(class="fa fa-mobile" aria-hidden="true")
        a(href="mailto:info@veliki.pp.ua" class="contacts__tel") info@veliki.pp.ua