extends layout.pug
block main
	.grid-container
		+breadcrumbs({
			breadcrumbsClass:"",
			delimeter:"",
			delimeterClass:"fa fa-caret-right"
		},
		breadcrumbs)
		.main
			include ../components/sidebar/sidebar.pug
			main.main-content
				h1.h1 Горные велосипеды
				.content.m-b-20
					p Горный велосипед (маунтинбайк) (англ. mountain bike, сокращённо MTB) — велосипед, предназначенный для катания вне дорог (хотя и не исключает обратного), и вследствие этого, имеющий особую конструкцию, отличную от шоссейного, трекового и дорожного (городского) велосипедов. https://veliki.com.ua/dir_cross_country.htm
					p В нашем магазине огромный выбор горных велосипедов по хорошей цене, в том числе с видео-обзорами. Чтобы не потеряться среди этого многообразия, воспользуйтесь фильтрами (в колонке слева) или позвоните нам для консультации. О деталях читайте нашу статью "Как выбрать горный велосипед". https://veliki.com.ua/dir_cross_country.htm
				+sorting({sortingClass:"m-t-15 m-b-15"})
				.align-justify.grid-x
					+product-card({
						cardClass: "medium-6 xlarge-8",
						img: "img/content/velosipedy/cannondale/cannondale-catalyst-2-2017.jpg",
						heading: "Велосипед Cannondale Catalyst 2 2017",
						priceOld: "",
						priceNew: "12 746 грн",
						text: "",
						href: "product.html",
						buttonText: "Купить"
					})
					+product-card({
						cardClass: "medium-6 xlarge-8",
						img: "img/content/velosipedy/cannondale/cannondale-catalyst-2-2017.jpg",
						heading: "Велосипед Cannondale Catalyst 2 2017",
						priceOld: "",
						priceNew: "12 746 грн",
						text: "",
						href: "product.html",
						buttonText: "Купить"
					})
					+product-card({
						cardClass: "medium-6 xlarge-8",
						img: "img/content/velosipedy/cannondale/cannondale-catalyst-2-2017.jpg",
						heading: "Велосипед Cannondale Catalyst 2 2017",
						priceOld: "",
						priceNew: "12 746 грн",
						text: "",
						href: "product.html",
						buttonText: "Купить"
					})
					+product-card({
						cardClass: "medium-6 xlarge-8",
						img: "img/content/velosipedy/cannondale/cannondale-catalyst-2-2017.jpg",
						heading: "Велосипед Cannondale Catalyst 2 2017",
						priceOld: "",
						priceNew: "12 746 грн",
						text: "",
						href: "product.html",
						buttonText: "Купить"
					})
				+pagination({
					classes: "m-t-15 m-b-15",
					countPages: "7",
					activePage: "3"
				})
	// script(src='%=static=%js/separate-js/svg4everybody.min.js')
	// script svg4everybody();

	//- Main scripts. You can replace it, but I recommend you to leave it here
	//script(src='%=static=%js/main%=hash=%%=min=%.js')