extends layout.pug
block main
	+slider(slider.homePageMainSlider,'js-main-page-slider slider slider--fullwidth slider--home')
	.grid-container
		.content.m-t-20.m-b-20
			p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
		.h2 Каталог велосипедов
	.container-1920
		.align-justify.grid-x
			+category-card({
				cardClass: "cell medium-12 xlarge-8",
				img: "img/general/velosipedy/gornye-velosipedy.png",
				heading: "Горные велосипеды",
				text: "",
				href: "category.html"
			})
			+category-card({
				cardClass: "cell medium-12 xlarge-8",
				img: "img/general/velosipedy/velosipedy-kross-kantri.png",
				heading: "Велосипеды кросс-кантри",
				text: "Кросс-ка́нтри (англ. cross-country) — одна из спортивных дисциплин в маунтинбайке (горном велосипеде), гонки по пересечённой местности со спусками, затяжными подъёмами, скоростными и техническими участками.",
				href: "category.html"
			})
			+category-card({
				cardClass: "cell medium-12 xlarge-8",
				img: "img/general/velosipedy/nainery-29-dyuimov.png",
				heading: "Найнеры (29 дюймов)",
                text: "Кросс-ка́нтри (англ. cross-country) — одна из спортивных дисциплин в маунтинбайке (горном велосипеде), гонки по пересечённой местности со спусками, затяжными подъёмами, скоростными и техническими участками.",
                href: "category.html"
			})
			+category-card({
				cardClass: "cell medium-12 xlarge-8",
				img: "img/general/velosipedy/gibridnye-krossovye.png",
				heading: "Гибридные кроссовые",
				text: "",
				href: "category.html"
			})
			+category-card({
				cardClass: "cell medium-12 xlarge-8",
				img: "img/general/velosipedy/dvuhpodvesy.png",
				heading: "Двухподвесы",
				text: "",
				href: "category.html"
			})
			+category-card({
				cardClass: "cell medium-12 xlarge-8",
				img: "img/general/velosipedy/gorodskie-velosipedy.png",
				heading: "Городскиен велосипеды",
				text: "",
				href: "category.html"
			})
	.grid-container
		.h2 Лидеры продаж
		+slider(slider.homePagePopular,'js-main-page-popular-slider slider slider--products')
			block sliderRaw
				+product-card({
					cardClass: "product-card--slider",
					img: "img/content/velosipedy/cannondale/cannondale-catalyst-2-2017.jpg",
					heading: "Велосипед Cannondale Catalyst 2 2017",
					priceOld: "13 645 грн",
					priceNew: "12 746 грн",
					text: "",
					href: "product.html",
					buttonText: "Купить"
				})
				+product-card({
					cardClass: "product-card--slider",
                    img: "img/content/velosipedy/cannondale/cannondale-catalyst-2-2018.jpg",
                    heading: "Велосипед Cannondale Catalyst 2 2018",
					priceOld: "",
					priceNew: "15 936 грн",
					text: "",
					href: "product.html",
					buttonText: "Купить"
				})
				+product-card({
					cardClass: "product-card--slider",
                    img: "img/content/velosipedy/cannondale/cannondale-trail-6.jpg",
                    heading: "Велосипед Cannondale Trail 6",
					priceOld: "",
					priceNew: "20 972 грн",
					text: "",
					href: "product.html",
					buttonText: "Купить"
				})
				+product-card({
					cardClass: "product-card--slider",
                    img: "img/content/velosipedy/cannondale/cannondale-trail-7.jpg",
                    heading: "Велосипед Cannondale Trail 7",
					priceOld: "",
					priceNew: "19 012 грн",
					text: "",
					href: "product.html",
					buttonText: "Купить"
				})
				+product-card({
					cardClass: "product-card--slider",
					img: "img/content/velosipedy/cannondale/cannondale-trail-7.jpg",
					heading: "Велосипед Cannondale Trail 7",
					priceOld: "",
					priceNew: "19 012 грн",
					text: "",
					href: "product.html",
					buttonText: "Купить"
				})
	hr
	.grid-container
		h2 Популярные велосипедные марки:
		- var n = 0;
		ul.grid-x
			while n < 10
				li.xlarge-4
					+link('#','Велосипеды Apollo')
					- n++
	//script(src='js/separate-js/svg4everybody.min.js')
	//script svg4everybody();

