include ../components/head/head.pug
include ../components/searchform/searchform.pug
include ../components/menu/menu.pug
include ../components/link-tel/link-tel.pug
include ../components/link-mailto/link-mailto.pug
include ../components/logo/logo.pug
include ../components/sorting/sorting.pug
include ../components/pagination/pagination.pug
include ../components/breadcrumbs/breadcrumbs.pug
include ../components/product-card/product-card.pug
include ../components/rating-stars/rating-stars.pug
include ../components/link/link.pug
include ../components/reviews/reviews.pug
include ../components/label/label.pug
include ../components/input/input.pug
include ../components/table/table.pug
include ../components/to-top-btn/to-top-btn.pug
include ../components/button/button.pug
include ../components/select/select.pug
include ../components/slider/slider.pug
include ../components/checkbox/checkbox.pug
include ../components/category-card/category-card.pug

doctype html
html(lang="ru-RU")
    +head(head.index)
    body
        include ../components/header/header.pug
        .wrappper
            //.grid-container
            //include ../components/breadcrumbs/breadcrumbs.pug
            block main
include ../components/footer/footer.pug
include ../components/to-top-btn/to-top-btn.pug
//- Main scripts. You can replace it, but I recommend you to leave it here
//script(src='%=static=%js/main%=hash=%%=min=%.js')