{% import "../blocks/menu/menu.twig" as menu %}

<!DOCTYPE html>
<html>
{% include "../blocks/head/head.twig" %}
<body>
{% include "../blocks/header/header.twig" %}
{% block body %}{% endblock %}
{% include "../blocks/footer/footer.twig" %}
</body>
</html>