.products-filter
	.products-filter__block.ac-custom.ac-checkbox.ac-checkmark
		.h5 Цена
		.h5 Тип велосипеда
		+checkbox({classes:"",label:"горные",id:"checkbox1",name:"thisName"})
		+checkbox({classes:"",label:"кроссовые гибриды",id:"checkbox2",name:"thisName"})
		+checkbox({classes:"",label:"туристические",id:"checkbox3",name:"thisName"})
		.h5 Размер рамы в наличии
		+checkbox({classes: "", label: "горные", id: "checkbox4", name: "thisName"})
		+checkbox({classes: "", label: "кроссовые гибриды", id: "checkbox5", name: "thisName"})
		+checkbox({classes: "", label: "туристические", id: "checkbox6", name: "thisName"})