.link-tel {
  $c: &; // Set the parent as a variable
  color: $color-white;

  &__icon {
    color: $color-white;
  }

  &:hover, &:focus {
    text-decoration: underline;
    color: $color-white;
  }

  &--header {
    color: $color-green-800;
    font-weight: 700;
    #{$c}__icon {
      color: $color-green-800;
    }
    &:hover, &:focus {
      color: $color-green-800;
      text-decoration: underline;
      #{$c}__icon {
        color: $color-green-800;
      }
    }
  }

}