footer.footer.bg-grey-800
	.grid-x.grid-container.p-t-25.p-b-25
		.footer__item.cell.xlarge-6.grid-x.align-center
			+link-tel({
				tel: "+38 (099) 56-95-56", linkClass: "m-b-10", iconClass: "fa fa-phone"
			})
			+link-tel({
				tel: "+38 (099) 56-95-56", linkClass: "m-b-10", iconClass: "fa fa-phone"
			})
			+link-tel({
				tel: "+38 (099) 56-95-56", linkClass: "m-b-10", iconClass: "fa fa-phone"
			})
			+link-mailto('aaa@ya.ru','','fa fa-envelope-o')
			+button({
				tag: "",
				type: "",
				buttonClass: "button--footer m-b-10",
				href: "",
				text: "Заказать звонок",
				title: "Заказать звонок",
				iconClass: "",
				iconPosition: ""
			})
			.grid-x
				+button({
					tag: "",
					type: "",
					buttonClass: "button--footer-social",
					href: "",
					text: "",
					title: "Мы в ВКонтакте",
					iconClass: "fa fa-vk",
					iconPosition: ""
				})
				+button({
					tag: "",
					type: "",
					buttonClass: "button--footer-social",
					href: "",
					text: "",
					title: "Мы В Facebook",
					iconClass: "fa fa-facebook",
					iconPosition: ""
				})
				+button({
					tag: "",
					type: "",
					buttonClass: "button--footer-social",
					href: "",
					text: "",
					title: "Мы в Google+",
					iconClass: "fa fa-google-plus",
					iconPosition: ""
				})
				+button({
					tag: "",
					type: "",
					buttonClass: "button--footer-social",
					href: "",
					text: "",
					title: "Мы в Twitter",
					iconClass: "fa fa-twitter",
					iconPosition: ""
				})

		.footer-block.cell.xlarge-6
			.footer__title О компании
			ul.footer__list
				li.footer__list-item
					a.footer__list-link(href="" title="Оплата и доставка") Оплата и доставка
				li.footer__list-item
					a.footer__list-link(href="" title="Гарантия и возврат") Гарантия и возврат
				li.footer__list-item
					a.footer__list-link(href="" title="Акции") Акции
				li.footer__list-item
					a.footer__list-link(href="" title="Контакты") Контакты
		.footer-block.cell.xlarge-6
			.footer__title Велосипеды
			ul.footer__list
				li.footer__list-item
					a.footer__list-link(href="" title="Горные велосипеды") Горные велосипеды
				li.footer__list-item
					a.footer__list-link(href="" title="Двухподвесы") Двухподвесы
				li.footer__list-item
					a.footer__list-link(href="" title="Кросс-кантри") Кросс-кантри
				li.footer__list-item
					a.footer__list-link(href="" title="Найнеры (29 дюймов)") Найнеры (29 дюймов)
				li.footer__list-item
					a.footer__list-link(href="" title="Городские велосипеды") Городские велосипеды
		.footer-block.cell.xlarge-6
			.footer__title Статьи
			ul.footer__list
				li.footer__list-item
					a.footer__list-link(href="" title="Как выбрать велосипед") Как выбрать велосипед
				li.footer__list-item
					a.footer__list-link(href="" title="Защита рамы велосипеда") Защита рамы велосипеда
				li.footer__list-item
					a.footer__list-link(href="" title="Типы велосипедных вилок") Типы велосипедных вилок
				li.footer__list-item
					a.footer__list-link(href="" title="Как выбрать размер рамы") Как выбрать размер рамы
	include ../copyright/copyright
+to-top-btn()

<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

//link(rel="stylesheet" href="/static/css/separate-css/fontawesome-all.min.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
<script src="/js/scripts.js"></script>