- n = 1;
while n < 5
    div(class="similar-product")
        a(href="" class="similar-product__img-container" title="")
            img(src="//via.placeholder.com/400x250" alt="" class="similar-product__img" title="")
        a(href="" class="similar-product__link")
        div(class="similar-product__price")
            div(class="similar-product__price-old") 12 750
            div(class="similar-product__price-actual") 11 778
        div(class="button similar-product__btn") Купить
        - n++;