.bg-grey-900
	.grid-container.copyright.align-justify.grid-x.p-t-10.p-b-10
		.cell.xlarge-shrink
			.m-r-10 &copy; 2018 - Интернет магазин велосипедов
		.cell.xlarge-shrink
			a.sitemap-link(href="#" title="Карта сайта") Карта сайта