div(class="slider-with-nav")
    div(class="slider-with-nav-main js-slider-with-nav-main margin-bottom-1")
        - var n = 1;
        while n < 5
            div(class="slide-with-nav-main")
                div(class="slide-with-nav-main__img-container")
                    img(src="//via.placeholder.com/500x250" alt="" class="slide-with-nav-main__img" title="")
                    - n++;
    div(class="slider-with-nav-secondary js-slider-with-nav-secondary")
        - var n = 1;
        while n < 5
            div(class="slide-with-nav-secondary")
                div(class="slide-with-nav-secondary__img-container")
                    img(src="//via.placeholder.com/500x250" alt="" class="slide-with-nav-secondary__img" title="")
                    - n++;