div(class="h3")
div(class="table-wrapper")
    table(class="specifications-table")
        tbody(class="specifications-table__tbody")
        - n = 1;
        while n < 5
            tr(class="specifications-table__row")
                td(class="specifications-table__col") Год
                td(class="specifications-table__col") 2017
                - n++;