.product-buy
	.product-buy__price 16875 грн.
	.product-buy__stock Есть в наличии
	+button({
		tag: "",
		type: "",
		buttonClass: "",
		href: "",
		text: "Купить",
		title: "Купить велосипед ...",
		iconClass: "fa fa-shopping-cart",
		iconPosition: ""
	})
