/*!*** BEGIN top_line ***/
.top-line {
  border-bottom: 4px $color-green-200 solid;
  background-color: $color-green-600;
  background-image: url(https://www.transparenttextures.com/patterns/bright-squares.png);
}

/*!*** END top_line ***/