.cell.top-line
	.grid-container.grid-x.align-justify.align-stretch.padding-vertical-1
		+menu({
			tag: "", menuClass: "menu--main", navClass: "", ulClass: "", liClass: "", liClassActive: "", aClass: ""
		},
		menu.mainMenu)
		.cell.grid-x.shrink.align-middle
			+button({
				tag: "",
				type: "",
				buttonClass: "button--top-line-favorite m-r-10",
				href: "",
				text: "",
				title: "Избранное",
				iconClass: "fa fa-heart",
				iconPosition: ""
			})
			+button({
				tag: "",
				type: "",
				buttonClass: "button--top-line-compare m-r-10",
				href: "",
				text: "",
				title: "Сравнить товары",
				iconClass: "fa fa-balance-scale",
				iconPosition: ""
			})
			+button({
				tag: "",
				type: "",
				buttonClass: "button--top-line-cart",
				href: "",
				text: "",
				title: "Корзина",
				iconClass: "fa fa-shopping-cart",
				iconPosition: "left"
			})